.App {
  text-align: center;
}



.App {
  text-align: center;
}
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  font-family: 'Comme', sans-serif;
  padding: 10px;
  
}

.signInOut {
  display: flex;
  justify-content: flex-end;
}

.home{
  display: flex;
  justify-content: center;
}

/* .homescreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.signOut {
  display: flex;
  padding-left: 5%;
  justify-content: flex-end;
  text-decoration: wrap;
  white-space: nowrap;
}
.sign-up-nav {
  display: flex;
  margin-right: 10px;

 
}
.welcome-nav {
  white-space: nowrap;
  
}